service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{event}/posts/{post} {
      allow create;
      allow read: if get(/databases/$(database)/documents/events/$(event)).data.visibility == 'public';
    }

    match /events/{event}/guests/{guest} {
      allow create;
      allow read: if get(/databases/$(database)/documents/events/$(event)).data.visibility == 'public';
    }

    match /events/{event}/subscribers/{subscriber} {
      allow create;
    }

    match /events/{event}/admin {
      allow create;
    }

    match /events/{event} {
      allow update: if request.resource.data.admin.managePassword == resource.data.admin.managePassword;
      allow create;
      allow read: if resource.data.visibility == 'public';
    }
  }
}
