service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId}/timeline/{timelineId} {
      allow create;
      allow read;
    }

    match /events/{eventId}/admin {
      allow create;
    }

    match /events/{eventId} {
      allow update, delete: if request.query.token == resource.data.admin.token;
      allow create;
      allow read;
    }

    match /{document=**} {
      allow read;
    }
  }
}
